 
		 body{
		 background-color:#2090c3;
		 }
		 
		 .loginrole{
		 
	     font-size: 1.3rem;
		width: 10rem;
		text-align: center;
				 
		 
		 }
		 
		 
		 .outer-box-who{
		width: 14rem;
		margin-left: 68rem;
		margin-bottom: ;
		height: 4rem;
		color: aliceblue;
		font-family: revert;
		font-style: initial;
		 
		 
		
        }
		 
		 .loginfirstname{
		     font-size: 1.5rem;
			  width: 14rem;
			  font-weight: bold;

		 
		 }
		 
		 
		 
		 
		 .main-container{
		 
		  border:0px solid black;
		  height:94vh;
		  width:98vw;
		 
		  
		
		  display:flex;
		  flex-direction:column;
		  justify-content:center;
		   <!--vh and wh are used to adjust  the page on minimize then only we can use flex wrap and align content -->
		    <!--to align the inner cells of the main container flex is used-->
		  <!--align items will align all items or cells at center you can use but since only one cell so you can use the align self property in itys own class-->
		  <!--as shown in the below outer-container-->
		  <!--vh vw on minimize automatically adjusted the border box-->
		  
		 }
		 
		 	 
		
		 
		 
		 
		 .outer-container{
		 
		 
		 border: 0px solid black;
		 height: 69vh;
         width: 71vw;
		 align-self:center;
		 
		  display:flex;
		  flex-direction:column;
		  justify-content:center;
		   align-items:center;
	box-shadow: 4px 5px 44px 0px black;	
		 /*		 in main- container flex is oN then i can use the align-self(only for particular cell) for the inner cell or child cell or box 
		    to align the inner cells of the outer container flex is used
		   here align items will align all items or cells at center you can use in its parent class (but since here more than one cell so you can use the align-self propery has no meaning2
		  so here only align items is used 
		  vh vw on minimize automatically adjusted the border box
		 */
		 }
		
		  
		
		  .inner-container{
		 
		    border: 0px solid black;
		    height: 22vh;
            width: 68vw;
			text-align:center;
				  <!-- to align all  text and buttons in the center in one shot  so vh and wh boder of it adjusted according to the minimize-->
            
			
		 }

		 .inner-container1{
					 
					 color: white;
					font-family: arial;
					font-size: 6rem;
					font-weight: bold;
			
					padding-top: 0.8rem;
					/*text-align: center;*/
		   <!--to modify individually-->
		 }
		 
             .inner-container2{
			 
			    color: white;
				font-family: arial;
				font-size: 2rem;
				font-weight: 500;
			    padding-top: 4rem;
				
				
			  /*text-align: center;*/
			  
			  <!--to modify individually-->
			 
			 }
			 
			 .box{
				color: white;
				height: 8em;
				width: 61.5em;
				 
			 }
		
			 .box1{
				 
				padding: 1rem;

                font-size: 1.5rem;
				 
			 }
			 
			 .link{
				 
				 text-decoration:none;
				  box-shadow:4px 5px 7px 0px white;
				 
			 }
			 
	
		 